.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor h1{
    margin-top: 150px;
    font-size: 250px;
    margin-bottom: 0;
}

/*** ESTILOS BOTÓN ***/
.botton {
    background: #fff; /* color de fondo */
    color: #A63B32; /* color de fuente */
    border: 2px solid #A63B32; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 5px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-family: 'Carlito', sans-serif;
    margin: 10px;
  }

  .botton:hover {
    color: #fff;/* color de fuente hover */
    cursor: pointer;
  }

  .botton::after {
    content: "";
    background: #A63B32; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -30%;
    right: -30%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }

  .botton:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }
