.detail{
    justify-content: center;
    align-items: center;
}

/* .container{
    margin-left: 20%;
    margin-top: 100px;
    background-color: brown;
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIIN{
    left: 0;
    background-color: blue;
} */